<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
    <meta charset="UTF-8">
    <title>UW Classroom Info</title>
    <link type="text/css" href="/stylesheets/your_class_style.css" rel="stylesheet" />
</head>
<body style= "background-color: #E9CFEC">
    <div class="inputBox">
        <h1>Information about SLN: {{SLN}}</h1>
    </div>
    <div class="inputBox">
        <h2>Classroom Photos</h2>
        <div> Classroom: <strong>{{classroom}}</strong></div>
        {% if thumbnails %}
            {% for photo in thumbnails %}
                <img src={{photo}} alt = {{SLN}}>
            {% endfor %}
        {% else %}
            <body>There are no images available for this classroom.</body>
        {% endif %}
    </div>
    <div class="inputBox">
        <h2> Location on a Map:</h2>
        <div><a href="{{maplink}}">{{building}}</a></div>
    </div>
    <div class="inputBox">
        <h2>Professor Info:</h2>
        <div> Professor name: {{professor}}</div>
        <div> Rate My Professor Score: {{ score }}</div>
    </div>
    <div class="inputBox">
        <form action="/" method="get">
        <input type="submit" value="Click Here to Go Back to Home Page" id="submit"/>
        </form>
    </div>

</body>
